<h1>React Calendar</h1>

<h2>Appointments</h2>

<%= react_component('Appointments', appointments: @appointments) %>




<!--
<%= form_for @appointment, remote: true do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :apt_time %>
  <%= f.submit 'Make appointment' %>
<% end %>

<%= render 'appointments' %>
-->
